<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Test Bed Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link th:href="apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link href="../static/css/cvStyle.css" th:href="@{/css/cvStyle.css}"  type="text/css"  rel="stylesheet">
    <script language="Javascript">
	function exportPDF() {

            window.print();
}
	</script>
</head>
<body>
<header class="header container-fluid">
    <table>
        <tr>
            <td class="info-middle">
                <h1 th:text="|${personal.paterno} ${personal.materno} ${personal.nombres}|" />
            </td>
            <td class="info-small text-right info-middle">
                <button id="cmd" class="btn btn-raised btn-info" onclick="exportPDF()">Exportar a PDF</button>
                <p th:text="${user.email}"/>
            </td>
        </tr>
    </table>
</header>

<div id="seleccion" class="container">
    <!-- Datos Personales -->
    <table>
        <tr>
            <td>
                <h2 class="sec-label">Datos Personales</h2>
            </td>
            <td>
                <h3></h3>
                <ul>
                    <li th:text="|Documento: ${personal.documento.descripcion}|" />
                    <li th:text="|Nro Documento: ${personal.numero_documento}|" />
                    <li th:text="|Genero: ${personal.sexo.descripcion}|" />
                    <li th:text="|Celular: ${personal.celular}|" />
                    <li th:text="|Telefono: ${personal.telef_fijo}|" />
                </ul>
            </td>
        </tr>
    </table>
    <hr class="section-break">
    <!-- Education Section -->
    <table>
        <tbody>
        <tr>
            <td class="edu"  rowspan="2">
                <h2 class="sec-label">Educacion</h2>
            </td>
            <td class="content-education">
                <table>
                    <tbody>
                    <tr th:each="estudio:${estudios}">
                        <td th:text="${estudio.id}"></td>
                        <td th:text="${estudio.titulo.descripcion}"></td>
                        <td th:text="${estudio.especialidad.descripcion}"></td>
                        <td th:text="${estudio.fecha_culmina}"></td>
                        <td th:text="${estudio.ciudad}"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <hr class="section-break">
    <!-- Work Experience Section -->
    <table>
        <tbody>
        <tr>
            <td class="edu"  rowspan="2">
                <h2 class="sec-label">Experiencia Profesional</h2>
            </td>
            <td class="content">
                <table>
                    <tbody>
                    <tr th:each="trabajo:${experiencias}">
                        <td th:text="${trabajo.cargo}"></td>
                        <td th:text="${trabajo.tiempo_inicio}"></td>
                        <td th:text="${trabajo.timpo_final}"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>