<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Employee</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

  <h3>Listado de Experiencias Laborales</h3>
  <table style="width:80%" border="1"
         class = "table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>Cargo</th>
      <th>Fecha Inicio</th>
      <th>Fecha Culminacion</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="trabajo:${allemplist}">
      <td th:text="${trabajo.cargo}"></td>
      <td th:text="${trabajo.tiempo_inicio}"></td>
      <td th:text="${trabajo.timpo_final}"></td>
    </tr>
    </tbody>
  </table>

  <button type="button">
    <a href="/admin">Volver</a>
  </button>
</div>
</body>
</html>
